// General Variables
$body-size: 100%;
$one-col: $body-size / 12;

// Media Breaks
$xsmall-break: 300px;
$small-break: 600px;
$medium-break: 900px;
$large-break: 1200px;
$xlarge-break: 1600px;

@import '_sap-grid.scss';

html, body {
  margin: 0;
  padding: 0;
}
